a {
  color: white;
  text-decoration: none;
}
header {
  background-color: #3683ff;
  color: #ffffff;
  padding-top: 15px;
  font-family: futura PT, sans-serif;
  font-weight: 600;
  font-size: 38px;
  text-align: center;
  height: 100px;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: futura PT, sans-serif;
}
header h5 {
  font-family: bely-display, sans-serif;
  font-weight: 100;
  font-size: 20px;
  padding: 0px;
  margin: 5px;
}
.Calculator input {
  width: 100px;
  height: 30px;
  margin: auto;
}
.Calculator select {
  margin: auto;
}
.Calculator button {
  margin: auto;
}
.Calculator {
  margin: auto;
  padding-left: 30px;
}
.resultDisplay {
  border-radius: 5px;
  border-color: black;
}
mark {
  background-color: Black;
  color: white;
}
.Calculator p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: inline-block;
}
h3 {
  margin: 0px;
  padding-top: 30px;
  padding-left: 30px;
  font-family: futura PT, sans-serif;
}
p {
  font-family: futura PT, sans-serif;
  font-size: 14px;
}
