body {
  margin: 0;
  padding: 0;
}
header {
  font-family: Futura Pt, sans-serif;
  text-align: center;
  height: 100px;
  font-size: 5vh;
  font-weight: 600;
  line-height: 1;
  color: white;
  margin: 0;
  background-color: royalblue;
}
header h5 {
  margin: 0px;
  font-family: bely-display, sans-serif;
  font-weight: 400;
  font-size: 3vh;
  padding-bottom: 15px;
  margin-top: 0;
}
.row {
  margin-right: 15px;
}
input {
  width: fit-content;
  height: 4vh;
  font-size: 2vh;
  font-family: bely-display, sans-serif;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 15px;
}
button {
  width: fit-content;
  display: block;
  height: 4vh;
  background-color: black;
  color: white;
  font-size: 2.4vh;
  margin: 0px;
  font-family: Futura PT, sans-serif;
  margin: 0 auto;
}
a {
  color: white;
  text-decoration: none;
}
h3 {
  margin: 15px;
  font-family: Raleway, sans-serif;
  text-align: center;
}
label {
  font-size: 15px;
  font-family: Raleway, sans-serif;
  text-align: center;
  display: block;
  margin: 0px;
}
.row {
  display: inline;
}
h4 {
  text-align: center;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
}
