body {
  padding: 0;
  margin: 0;
}
header {
  background-color: #fcba03;
  text-align: center;
  height: fit-content;
  font-family: Raleway;
  font-weight: 600;
  font-size: 5vh;
}
h5 {
  padding: 0;
  margin: 0;
  padding-bottom: 20px;
  font-size: 2vh;
  font-family: bely-display;
}
#converter {
  padding-top: 50px;
  margin: auto;
  height: 100%;
  width: 70%;
  justify-content: center;
}
textarea {
  width: 100%;
  height: fit-content;
  justify-content: center;
  text-align: left;
  font-family: Raleway;
  font-size: 20px;
}
select {
  font-family: bely-display;
  font-size: 20px;
  height: 50px;
}
button {
  font-family: bely-display;
  font-size: 20px;
  height: 50px;
  color: white;
  background-color: black;
  border: 1px solid black;
}
a {
  color: black;
  text-decoration: none;
}
