body {
  margin: 0;
  padding: 0;
}
header {
  font-family: Sofia-pro, sans-serif;
  background-color: cadetblue;
  text-align: center;
  font-size: 8vh;
  font-weight: bold;
}
header h5 {
  margin: 0;
  font-family: bely-display, sans-serif;
  font-size: 3vh;
  padding-bottom: 2vh;
}
#searchBar {
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 5vh;
  width: 30%;
  min-width: 35vh;
  font-family: bely-display, sans-serif;
  font-size: 3vh;
}
label {
  margin-top: 5vh;
  font-family: Sofia-pro, sans-serif;
  color: gray;
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.sampleHouseDisplay {
  margin-top: 5vh;
  border: 1px solid gray;
  text-align: center;
  font-family: Sofia-pro, sans-serif;
  width: fit-content;
  display: inline-block;
  width: 45vh;
  height: auto;
  margin: 2%;
}
.sampleHouseDisplay img {
  width: 45vh;
  height: 30vh;
  object-fit: cover;
}
.sampleHouseDisplay h1 {
  margin: 1vh;
  font-size: 4vh;
}
.sampleHouseDisplay h2 {
  margin: 1vh;
  font-size: 3vh;
}
.sampleHouseDisplay h3 {
  margin: 1vh;
  font-size: 2vh;
}
#error {
  font-family: Sofia-pro, sans-serif;
  text-align: center;
  margin-top: 8vh;
}
#matchesDisplay {
  font-family: Sofia-pro, sans-serif;
  color: gray;
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-size: 2vh;
}
a {
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  color: skyblue;
}
#helpSpan:hover {
  text-decoration: solid;
}
#helpWindow {
  min-width: 50vh;
  width: 30%;
  border: 1px solid black;
  font-family: Sofia-pro, sans-serif;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 2%;
}
#helpWindow p {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 2vh;
}
#hideHelp {
  font-size: 2vh;
}
#hideHelp :hover {
  color: black;
  display: none;
  color: gray;
}
#resetButton {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: fit-content;
  padding: 1vh;
  font-family: Sofia-pro, sans-serif;
  background-color: wheat;
  border: 1px solid black;
  font-size: 2vh;
  margin-top: 1%;
}
